[submodule "3rd-party/jquery-cookie"]
	path = 3rd-party/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "3rd-party/gibberish-aes"]
	path = 3rd-party/gibberish-aes
	url = https://github.com/mdp/gibberish-aes.git
